[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fitdistrBayes"]
	path = fitdistrBayes
	url = https://github.com/cran/fitdistrBayes
